#koko-analytics-admin {

    h1 {
        padding: 0;
        margin: 0 0 12px;
    }

    .subsubsub {
        display: block;
        float: right;
        line-height: 20px;
        margin: 0;
        padding: 6px 0;
    }

    .grid {
        display: grid;
        grid-gap: 12px;
        grid-template-columns: repeat(6, 1fr);
    }

    .box-grid {
        display: grid;
        grid-gap: 12px;
        grid-template-columns: 8fr 2fr 2fr;
    }

    .box {
        background: white;
        border-radius: 6px;
        border: 1px solid #BBB;
        padding: 12px;
        grid-column: span 3;

        @media(max-width: 800px) {
            grid-column: span 6;
        }

        .head {
            font-weight: bold;
            margin-bottom: 6px;
        }

        .body > div {
            margin-bottom: 4px;
            text-align: left;
        }

        .amount-col {
            text-align: right;
        }
    }

    .input-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 6px;
    }

    select {
        margin: 0;
        min-width: 320px;
        &[multiple] {
            min-height: 160px;
        }
    }

}