parameters:
    level: 4
    paths:
        - koko-analytics.php
        - src/
        - migrations/
        - code-snippets/
        - tests/
    excludePaths:
        analyse:
            - tests/benchmarks
    scanFiles:
        - %rootDir%/../../php-stubs/wordpress-stubs/wordpress-stubs.php
        - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-stubs.php
        - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-commands-stubs.php
        - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-i18n-stubs.php
        - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-tools-stubs.php
    ignoreErrors:
      - message: '#Variable \$\w+ might not be defined.#'
        path: src/Resources/views
    dynamicConstantNames:
        - KOKO_ANALYTICS_CUSTOM_ENDPOINT
    treatPhpDocTypesAsCertain: false
