parameters:
    level: 0
    paths:
        - koko-analytics.php
        - src/
        - migrations/
        - tests/
    excludePaths:
        analyse:
            - src/Command.php
            - tests/benchmarks
