@import './_variables.scss';

/* prevent horizontal-scrollbar from showing up when viewing chart tooltip near edge of the screen */
body.dashboard_page_koko-analytics {
	overflow-x: hidden;
}

#koko-analytics-admin {

  h1 {
	padding: 0;
	margin: 0 0 12px;
  }

  .grid {
	display: grid;
	grid-gap: 12px;
	grid-template-columns: repeat(6, 1fr);
  }

  .one {
	grid-column: span 1;
  }

  .two {
	grid-column: span 2;
  }

  .three {
	grid-column: span 3;
  }

  .four {
	grid-column: span 4;
  }

  .five {
	grid-column: span 5;
  }

  .six {
	grid-column: span 6;
  }

  .box-grid {
	display: grid;
	grid-gap: 12px;
	grid-template-columns: 8fr 2fr 2fr;
	border-top: 1px dashed $border-divider;
	padding: 6px 12px;
	text-align: left;
  }

  @media (max-width: 320px) {
	.nav {
	  grid-row: 1;
	  grid-column: span 6;
	}
  }

  .subsubsub {
	display: block;
	float: right;
	line-height: 20px;
	margin: 0;
	padding: 6px 0;
	font-size: 13px;
	text-align: left;
  }

  .box {
	background: white;
	border-radius: 6px;
	border: 1px solid $border-base;
	grid-column: span 3;
	margin-bottom: 12px;

	@media(max-width: 800px) {
	  grid-column: span 6;
	}

	.head {
	  font-weight: bold;
	  font-size: 1.1em;
	  padding: 6px 12px;
	  border: 0;
	}

	.body {
	  padding-bottom: 6px;
	}

	.muted {
	  width: 24px;
	  display: inline-block;
	  color: $color-muted;
	  font-size: 0.9em;
	}

	.amount-col {
	  text-align: right;
	}

	.url-col {
	  text-overflow: ellipsis;
	  overflow: hidden;
	  white-space: nowrap;
	}
  }

  .input-group {
	margin-bottom: 24px;

	label {
	  margin-bottom: 6px;
	}

	input,
	select {
	  margin-bottom: 6px;
	}

	input[type="radio"],
	input[type="checkbox"] {
	  margin-bottom: 0;
	}

	.help {
	  margin-top: 0;
	}
  }

  label {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 6px;

	&.cb {
	  font-size: 1em;
	  font-weight: normal;
	}
  }

  select {
	margin: 0;
	min-width: 320px;

	&[multiple] {
	  min-height: 160px;
	}
  }

  pre.code {
	display: block;
	border: 1px solid #ccc;
	background: white;
	padding: 1em;
  }

  .pagination {
	color: $color-muted;
	cursor: pointer;
	display: inline-block;
	margin-left: 12px;

	.prev,
	.next {
	  display: inline-block;
	  padding: 0 4px;

	  &:hover,
	  &:focus {
		transform: scale(1.4);
		transition: transform .2s;
	  }

	  &.hidden {
		display: initial;
		visibility: hidden;
	  }

	  &.disabled {
		opacity: 0.4;

		&:hover,
		&:focus {
		  transform: none;
		  cursor: initial;
		}
	  }
	}

	@media(max-width: 320px) {
	  margin-left: 6px;

	  .prev, .next {
		padding: 0;
	  }
	}

  }


  @import "util";
}
