@import './_variables.scss';

.chart-container {
	position: relative;
    padding: 12px;
}

.chart {
  overflow: visible;

  .bars {
	  rect.pageviews {
		  fill: #f05b4f;
	  }
	  rect.visitors {
		  fill: #d70206;
	  }
  }
}

.tooltip {
	position: absolute;
	z-index: 9991; /* above wp admin menu */

	.tooltip-inner {
		background: rgba(46, 54, 63, 0.96);
		box-shadow: 2px 2px 12px 0 rgba(0,0,0,0.5);
		border-radius: 4px;
		color: #EEE;
	}

	.heading {
		font-weight: 600;
		padding: 12px;
		line-height: 1;
	}

	.content {
		display: flex;

		> div {
			padding: 6px 12px;
			width: 50%;
			display: block;
			flex: 1;
		}
	}

	.pageviews {
		border-top: 3px solid #f05b4f;
	}

	.visitors {
		border-top: 3px solid #d70206;
	}

	.amount {
		color: #FFF;
		font-weight: bold;
	}

	.tooltip-arrow {
		width: 0;
		height: 0;
		margin-left: auto;
		margin-right: auto;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 6px solid rgba(46, 54, 63, 0.96);
	}
}



#koko-analytics-dashboard-widget-mount {
    text-align: center;

    .chart-container  {
        border: 0;
        padding: 0;
        margin-bottom: 12px;
    }
}
