@import './_variables.scss';

.chart-container {
    padding: 18px 6px 6px 6px;
}

#koko-analytics-dashboard-widget-mount {
    text-align: center;

    .chart-container  {
        border: 0;
        padding: 0;
        margin-bottom: 12px;
    }
}