@import './_variables.scss';

#koko-analytics-admin {
	.totals-container {
		background: #2e363f;
		color: white;
		padding: 24px;
		margin-bottom: 12px;
		display: flex;
		border-radius: 6px;
	}

	.totals-box {
		display: block;
		margin-right: 48px;

		&:last-of-type {
			margin-right: 0;
		}

		/* iphone SE fix to make it fit on 1 line */
		@media(max-width: 320px) {
			margin-right: 36px;
		}
	}

	.totals-label {
		color: #EEE;
		margin-bottom: 6px;
		font-size: 14px;
	}

	.totals-amount {
		display: block;
		line-height: 48px;
		font-size: 48px;
		font-weight: 500;
		letter-spacing: -1px;
		margin-bottom: 6px;

		span {
			font-size: 0.4em;
			font-weight: normal;
			vertical-align: top;
			letter-spacing: normal;
		}
	}

	.totals-compare {
		color: #EEE;
	}

	.neutral {
		color: $stats-neutral;
	}

	.up {
		color: $stats-up;
	}

	.down {
		color: $stats-down;
	}
} /* end koko analytics wrap */
