.date-nav {
	position: relative;
	margin-bottom: 12px;
}

.date-label {
	cursor: pointer;
	margin-bottom: 6px;
	padding: 6px;
	border: 1px solid #BBB;
	border-radius: 6px;
	display: inline-block;
	background: white;

}

.date-picker-ui {
	background: white;
	display: flex;
	width: auto;
	position: absolute;
	z-index: 20;
	border-radius: 6px;
	border: 1px solid #BBB;
}

.date-presets {
	padding: 12px 24px 12px 12px;
	border-right: 1px solid #BBB;
}

.date-presets strong {
	display: block;
	padding: 6px 0;
}

.date-presets a {
	display: block;
	padding: 6px 0;
}


.date-picker {
	padding: 12px;
}

.date-picker .pika-single {
	border: 0;
}
.date-picker .pika-lendar {
	margin: 0;
}