.date-nav {
	background: white;
	padding: 6px;
	margin-bottom: 24px;
}

.row {
	display: flex;
}

.date-presets {
	padding-right: 24px;
}

.date-presets a {
	display: block;
	padding: 6px 0;
}

.date-picker {

}
