.top-referrers {
    background: white;
    border-radius: 6px;
    border: 1px solid #BBB;
    padding: 12px;
    margin: 0 12px 12px 0;
}

.top-referrers h3 {
    margin-top: 0;
}
.top-referrers th {
    text-align: left;
    padding: 4px 0;
    margin-right: 12px;
}
.top-referrers td {
    padding: 4px 0;
}

.top-referrers .amount-col {
    padding-left: 12px;
    text-align: right;
}

.top-referrers .main-col {
    min-width: 240px;
}