.ka-admin-nav {
	float: right;
	line-height: 34px;
}
.ka-admin-nav--link {
	display: inline-block;
	text-decoration: none;
	margin: 0 6px;
}
.ka-admin-nav--link.current {
	color: black;
}
.ka-admin-nav--link.last {
	margin-right: 0;
}
.ka-margin-s {
	margin: 12px 0;
}
.ka-margin-m {
	margin: 24px 0;
}
.ka-margin-l {
	margin: 48px 0;
}
.ka-right {
	float: right;
}
.ka-settings--label {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 6px
}
.ka-setings--cb-label {
	margin-right: 12px;
}
