body.ka-dashboard {
  background: #f1f1f1;
  color: #3c434a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
.ka-dashboard a {
  color: #3858e9;
}
.ka-dashboard input,
.ka-dashboard select {
  font-size: 14px;
  font-family: inherit;
  font-weight: inherit;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #8c8f94;
  background-color: #fff;
  color: #2c3338;
  box-shadow: none;
  line-height: 2;
}
.ka-dashboard select {
  padding: 0 24px 0 8px;
  -webkit-appearance: none;
  background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 55%;
  background-size: 16px 16px;
}
.ka-dashboard input {
  padding: 0 8px;
}

h1.ka-logo,
.ka-logo {
  line-height: 32px;
}
.ka-logo::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' data-name='Layer 1'%3E%3Ccircle shape-rendering='geometricPrecision' cx='32' cy='32' r='32' style='display:inline;fill:%23b60205;fill-opacity:1;stroke-width:1.01241'/%3E%3Cpath d='M48.42 20.641a.6.6 0 0 0-.66.15L31.984 37.736l-7.36-7.36a.6.6 0 0 0-.848 0l-8.4 8.4a.6.6 0 0 0-.176.424v3.6a.6.6 0 0 0 .6.6h32.4a.6.6 0 0 0 .6-.6V21.2a.6.6 0 0 0-.38-.559z' style='fill:%23fff;fill-opacity:1;stroke-width:.6'/%3E%3Cpath d='M48.42 20.641a.6.6 0 0 0-.66.15L31.984 37.736l5.664 5.664H48.2a.6.6 0 0 0 .6-.6V21.2a.6.6 0 0 0-.38-.559z' style='fill:%23fff;fill-opacity:1;stroke-width:.6'/%3E%3C/svg%3E%0A");
  background-size: contain;
  margin-right: 18px;
  float: left;
  visibility: visible;
}
.ka-admin-nav {
  line-height: 34px;
  margin-left: auto;
}
.ka-admin-container {
  max-width: 620px;
  font-size: 14px;
}
.ka-admin-nav--link {
  display: inline-block;
  text-decoration: none;
  margin: 0 6px;
}
.ka-admin-nav--link.current {
  color: black;
}
.ka-admin-nav--link.last {
  margin-right: 0;
}
.ka-margin-s {
  margin: 1em 0;
}
.ka-margin-m {
  margin: 2em 0;
}
.ka-margin-l {
  margin: 4em 0;
}
.ka-right {
  float: right;
}
.ka-settings--label {
  display: block;
  font-weight: bold;
  margin: 0 0 4px 0;
  padding: 0;
}
.ka-setings--cb-label {
  margin-right: 12px;
}
.ka-admin-container .description {
  font-size: 14px;
}


/** Chart */
.ka-chart {
  position: relative;
  overflow: visible;
  min-height: 244px;
  padding: 24px;
}
.ka-chart--tooltip {
  position: absolute;
  z-index: 9991; /* above wp admin menu */
}
.ka-chart--tooltip-box {
  background: rgba(46, 54, 63, 0.96);
  box-shadow: 2px 2px 12px 0 rgba(0,0,0,0.5);
  border-radius: 4px;
  color: #EEE;
}
.ka-chart--tooltip-heading {
  font-weight: 600;
  padding: 12px;
  line-height: 1;
}
.ka-chart--tooltip-content {
  padding: 6px 12px;
  width: 50%;
  display: block;
  flex: 1;
}
.ka-chart--tooltip-content {
  border-top: 3px solid transparent;
}
.ka-chart--tooltip-amount {
  color: #FFF;
  font-weight: bold;
}
.ka-chart--tooltip-arrow {
  width: 0;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  /* css trick to create a downward pointing triangle */
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(46, 54, 63, 0.96);
}
.ka--pageviews {
  border-top-color: #72aee6;
  fill: #72aee6;
}
.ka--visitors {
  border-top-color: #2271b1;
  fill: #2271b1;
}

/** Dashboard */
.dashboard_page_koko-analytics {
  overflow-x: hidden
}
.ka-dashboard-components {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(6, 1fr);
}

/** Page filter */
.ka-page-filter {
  border: 1px solid #DDD;
  padding: 6px;
  background: hsl(205.2, 100%, 93.9%);
  border-radius: 6px;
  display: none;
}
.ka-page-filter--close {
  text-decoration: none;
  font-weight: normal;
  margin-left: 2px;
  color: #666;
  padding: 4px;
  cursor: pointer;
  opacity: 0.5;
}
.ka-page-filter--close:hover,
.ka-page-filter--close:focus {
  opacity: 1;
}
.page-filter-active .ka-dashboard-components {
  opacity: 0.4;
}

/** Topx components */
.ka-topx {
  grid-column: span 6;
}


@media (min-width: 840px) {
  .ka-topx {
    grid-column: span 3;
  }
}
.ka-topx--row {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: min-content 8fr 2fr 2fr;
  border-top: 1px dashed #eee;
  padding: 6px 12px;
  text-align: left
}
.ka-topx--placeholder {
  padding: 6px 12px;
}
.ka-topx--head > div:nth-child(5),
.ka-topx--row > div:nth-child(5) {
  display: none;
}
.with-4th-col .ka-topx--head > div:nth-child(5),
.with-4th-col .ka-topx--row > div:nth-child(5) {
  display: block;
}
.with-4th-col .ka-topx--row {
  grid-template-columns: min-content 9fr 1fr 1fr 1fr;
}
.ka-topx--head {
  font-weight: bold;
  font-size: 1.1em;
  padding: 6px 12px;
  border: 0
}
.ka-topx--rank {
  color: #757575;
  font-size: .9em
}
.ka-topx--amount {
  text-align: right
}
.ka-topx--col,
.ka-topx--url {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}

/* Pagination component */
.ka-pagination {
  color: #757575;
  cursor: pointer;
  font-weight: normal;
  border-top: 1px dashed #eee;
  padding: 6px 12px;
}
.ka-pagination--prev:before,
.ka-pagination--next:after {
  font-size: 12px;
  vertical-align: top;
  line-height: 16px;

}
.ka-pagination--prev:before {
  content: "◀";
  margin-right: 6px;
}
.ka-pagination--next:after {
  content: "▶";
  margin-left: 6px;
}
.ka-pagination--next {
  float: right;
}
.ka-pagination--prev.disabled,
.ka-pagination--next.disabled {
  opacity: .4
}
.ka-pagination--prev.disabled:hover,
.ka-pagination--prev.disabled:focus,
.ka-pagination--next.disabled:hover,
.ka-pagination--next.disabled:focus {
  cursor: initial
}

/** Totals Component */
.ka-totals {
  background: #2e363f;
  color: white;
  padding: 24px;
  margin: 12px 0;
  display: flex;
  flex-flow: row wrap;
  gap: 48px;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
}
.ka-totals--label {
  color: #EEE;
  margin-bottom: 6px;
  font-size: 14px;
}
.ka-totals--amount {
  display: block;
  line-height: 48px;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -1px;
  margin-bottom: 6px;
  min-width: 160px;
}
.ka-totals--change {
  font-size: 16px;
  margin-left: 6px;
  font-weight: normal;
  vertical-align: top;
  letter-spacing: normal;
  color: #aaa;
}
.ka-up .ka-totals--change {
  color: limegreen;
}
.ka-down .ka-totals--change {
  color: #fb7272;
}
.ka-totals--subtext {
  color: #DDD;
}
.ka-totals--subtext-down {
  display: none;
}
.ka-up .ka-totals--subtext-up,
.ka-down .ka-totals--subtext-down {
  display: inline;
}
.ka-down .ka-totals--subtext-up,
.ka-up .ka-totals--subtext-down {
  display: none;
}

/** Datepicker component */
.ka-datepicker--label {
  cursor: pointer;
  padding: 6px;
  border: 1px solid #DDD;
  border-radius: 6px;
  display: inline-block;
  background: white;
  line-height: 20px;
}
.ka-datepicker--label:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Crect x='0' fill='none' width='20' height='20'/%3E%3Cg%3E%3Cpath d='M15 4h3v15H2V4h3V3c0-.41.15-.76.44-1.06.29-.29.65-.44 1.06-.44s.77.15 1.06.44c.29.3.44.65.44 1.06v1h4V3c0-.41.15-.76.44-1.06.29-.29.65-.44 1.06-.44s.77.15 1.06.44c.29.3.44.65.44 1.06v1zM6 3v2.5c0 .14.05.26.15.36.09.09.21.14.35.14s.26-.05.35-.14c.1-.1.15-.22.15-.36V3c0-.14-.05-.26-.15-.35-.09-.1-.21-.15-.35-.15s-.26.05-.35.15c-.1.09-.15.21-.15.35zm7 0v2.5c0 .14.05.26.14.36.1.09.22.14.36.14s.26-.05.36-.14c.09-.1.14-.22.14-.36V3c0-.14-.05-.26-.14-.35-.1-.1-.22-.15-.36-.15s-.26.05-.36.15c-.09.09-.14.21-.14.35zm4 15V8H3v10h14zM7 9v2H5V9h2zm2 0h2v2H9V9zm4 2V9h2v2h-2zm-6 1v2H5v-2h2zm2 0h2v2H9v-2zm4 2v-2h2v2h-2zm-6 1v2H5v-2h2zm4 2H9v-2h2v2zm4 0h-2v-2h2v2z'/%3E%3C/g%3E%3C/svg%3E");
  content: "";
  display: inline-block;
  line-height: 1;
  speak: never;
  width: 20px;
  height: 20px;
  vertical-align: top;
  margin-right: 4px;
}
.ka-datepicker--dropdown {
  background: white;
  width: auto;
  z-index: 20;
  border-radius: 6px;
  position: absolute;
  margin-top: 6px;
  box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.5);
}
.ka-datepicker--quicknav {
  background: #2e363f;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: white;
  text-align: center;
  padding: 12px;
  font-weight: bold;
  font-size: 1.1em;
}
.ka-datepicker--quicknav-prev,
.ka-datepicker--quicknav-next {
  color: white;
  cursor: pointer;
  height: 20px;
  line-height: 1;
  vertical-align: middle;
}
.ka-datepicker--quicknav-prev:before,
.ka-datepicker--quicknav-next:after {
  font-size: 12px;
  vertical-align: top;
  display: inline-block;
  line-height: 10px;
}
.ka-datepicker--quicknav-prev:before {
  content: "◀";
  margin-right: 12px;
  padding: 4px 12px 4px 0;
}
.ka-datepicker--quicknav-next:after {
  content: "▶";
  margin-left: 12px;
  padding: 4px 0 4px 12px;
}
.ka-datepicker--dropdown-content {
  padding: 12px;
}
.ka-datepicker--dropdown-content label {
  font-weight: bold;
  font-size: 1em;
  display: block;
}

/* General styles / Utility classes */
.ka-box {
  background: #fff;
  border-radius: 6px;
  border: 1px solid #ddd;
}
.ka-box:empty {
  display: none;
}
.ka-fade {
  animation: koko-fadein .4s
}
.ka-ul li {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.ka-ul span {
  min-width: 24px;
  display: inline-block;
}

@keyframes koko-fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

