body.dashboard_page_koko-analytics {
	overflow-x: hidden
}

#koko-analytics-admin .grid {
	display: grid;
	grid-gap: 12px;
	grid-template-columns: repeat(6, 1fr);
}

#koko-analytics-admin .box {
	background: #fff;
	border-radius: 6px;
	border: 1px solid #ddd;
	grid-column: span 3
}

#koko-analytics-admin .box-grid {
	display: grid;
	grid-gap: 12px;
	grid-template-columns:8fr 2fr 2fr;
	border-top: 1px dashed #eee;
	padding: 6px 12px;
	text-align: left
}

#koko-analytics-admin .box-grid.c4 {
	grid-template-columns: 9fr 1fr 1fr 1fr;
}

@media (max-width: 800px) {

	#koko-analytics-admin .box {
		grid-column: span 6
	}
}

#koko-analytics-admin .box .head {
	font-weight: bold;
	font-size: 1.1em;
	padding: 6px 12px;
	border: 0
}

#koko-analytics-admin .box .body {
	padding-bottom: 6px
}

#koko-analytics-admin .box .muted {
	width: 24px;
	display: inline-block;
	color: #757575;
	font-size: .9em
}

#koko-analytics-admin .box .amount-col {
	text-align: right
}

#koko-analytics-admin .box .url-col {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

#koko-analytics-admin .pagination {
	color: #757575;
	cursor: pointer;
	display: inline-block;
	margin-left: 12px
}

#koko-analytics-admin .pagination .prev, #koko-analytics-admin .pagination .next {
	display: inline-block;
	padding: 0 4px
}

#koko-analytics-admin .pagination .prev:hover, #koko-analytics-admin .pagination .prev:focus, #koko-analytics-admin .pagination .next:hover, #koko-analytics-admin .pagination .next:focus {
	transform: scale(1.4);
	transition: transform .2s
}

#koko-analytics-admin .pagination .prev.hidden, #koko-analytics-admin .pagination .next.hidden {
	display: initial;
	visibility: hidden
}

#koko-analytics-admin .pagination .prev.disabled, #koko-analytics-admin .pagination .next.disabled {
	opacity: .4
}

#koko-analytics-admin .pagination .prev.disabled:hover, #koko-analytics-admin .pagination .prev.disabled:focus, #koko-analytics-admin .pagination .next.disabled:hover, #koko-analytics-admin .pagination .next.disabled:focus {
	transform: none;
	cursor: initial
}

@media (max-width: 320px) {
	#koko-analytics-admin .pagination {
		margin-left: 6px
	}

	#koko-analytics-admin .pagination .prev, #koko-analytics-admin .pagination .next {
		padding: 0
	}
}


#koko-analytics-admin .koko-fade {
	animation: koko-fadein .4s
}

#koko-analytics-admin .flex {
	display: flex
}

#koko-analytics-admin .cf:after {
	content: "";
	display: table;
	clear: both
}

@keyframes koko-fadein {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

#koko-analytics-admin .totals-container {
	background: #2e363f;
	color: white;
	padding: 24px;
	margin-bottom: 12px;
	display: flex;
	flex-flow: row wrap;
	gap: 48px;
	border-radius: 6px;
	width: 100%;
	box-sizing: border-box;
}

#koko-analytics-admin .totals-box:last-of-type {
	margin-right: 0;
}

#koko-analytics-admin .totals-label {
	color: #EEE;
	margin-bottom: 6px;
	font-size: 14px;
}
#koko-analytics-admin .totals-amount {
	display: block;
	line-height: 48px;
	font-size: 48px;
	font-weight: 500;
	letter-spacing: -1px;
	margin-bottom: 6px;
}
#koko-analytics-admin .totals-amount span {
	font-size: 16px;
	font-weight: normal;
	vertical-align: top;
	letter-spacing: normal;
}
#koko-analytics-admin .totals-compare {
	color: #DDD;
}
#koko-analytics-admin .neutral {
	color: #aaa;
}
#koko-analytics-admin .up {
	color: limegreen;
}
#koko-analytics-admin .down {
	color: #fb7272;
}
#koko-analytics-admin .m {
	margin-bottom: 12px;
}

#koko-analytics-admin .date-label {
	cursor: pointer;
	padding: 6px;
	border: 1px solid #DDD;
	border-radius: 6px;
	display: inline-block;
	background: white;
	line-height: 20px;
}
#koko-analytics-admin .date-label .dashicons {
	margin-right: 2px;
}
#koko-analytics-admin .date-picker-ui {
	background: white;
	width: auto;
	z-index: 20;
	border-radius: 6px;
	position: absolute;
	margin-top: 6px;
	box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.5);
}
#koko-analytics-admin .date-quicknav {
	background: #2e363f;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: white;
	text-align: center;
	padding: 12px;
	font-weight: bold;
	font-size: 1.1em;
}
#koko-analytics-admin .date-quicknav .prev,
#koko-analytics-admin .date-quicknav .next {
	margin: 0 6px;
	color: white;
}
#koko-analytics-admin .date-quicknav .prev:hover,
#koko-analytics-admin .date-quicknav .prev:focus,
#koko-analytics-admin .date-quicknav .next:hover,
#koko-analytics-admin .date-quicknav .next:focus {
	cursor: pointer;
	transform: scale(1.4);
	transition: transform 0.2s;
}
#koko-analytics-admin .date-presets {
	padding: 12px 24px 12px 12px;
	border-right: 1px solid #DDD;
	min-width: 100px;
}
#koko-analytics-admin .date-presets label {
	font-weight: bold;
	font-size: 1em;
}
#koko-analytics-admin .date-presets > div {
	margin-bottom: 1em;
}
#koko-analytics-admin .date-presets strong {
	display: block;
	padding: 6px 0;
}
#koko-analytics-admin .date-presets a {
	display: block;
	padding: 4px 0;
}
#koko-analytics-admin .date-picker {
	padding: 12px;
}
@media (min-width: 680px) {
	#koko-analytics-admin .date-picker {
		min-width: 480px;
	}
}
#koko-analytics-admin .date-picker .pika-lendar {
	margin: 0;
}
#koko-analytics-admin .pika-single {
	color: inherit;
	border: 0;
}
#koko-analytics-admin .pika-label {
	font-size: inherit;
	font-weight: normal;
}
#koko-analytics-admin .pika-prev, #koko-analytics-admin .pika-next {
	opacity: 0.3;
}
