name: Build, Test and Lint

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup PHP
        id: setup-php
        uses: shivammathur/setup-php@v2
        with:
          php-version: 'highest'
      - run: composer install --no-progress
      - run: composer run-script check-syntax
      - run: composer run-script check-codestyle
      - run: composer run-script static-analysis
      - run: composer run-script test
      - run: npm ci
      - run: npm run lint
      - run: php tests/benchmarks/run-benchmark.php
